# system
.DS_Store
**/.DS_Store

# python envs
.venv/
__pycache__/
*.pyc

# model checkpoints
*.pt
*.pth
*.ckpt
**/*.log.json

# images & video
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.mp4
*.avi
*.mov

# datasets / archives
*.zip
*.tar
*.tar.gz
*.tgz
*.csv
*.json
*.lst

# specific dirs
FACE_JOB/data/
FACE_JOB/logs/
HAND_JOB/data/
HAND_JOB/checkpoints/*
!HAND_JOB/checkpoints/.gitkeep
